.advantages__city-contanier {
  display: flex;
  max-height: 256px;
}

.advantages__city-text {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  align-items: center;
  width: 400px;
  padding: 25px 53px 46px;
}

.advantages__city-text p {
  font-size: 14px;
  line-height: 21px;
}

.advantages__city-facilities {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  align-items: center;
}

.advantages__facilities-item {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 400px;
  padding: 55px 53px 62px;
}

.advantages__facilities-item p {
  font-size: 14px;
  line-height: 21px;
}

.advantages__bridge {
  display: flex;
  max-height: 256px;
}

.advantages__bridge-text {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  align-items: center;
  width: 400px;
  padding: 25px;
  order: 2;
}

.advantages__bridge-text p {
  font-size: 14px;
  line-height: 18px;
}

.advantages__contanier {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  min-height: 256px;
  align-items: center;
}

.advantages__square p {
  font-size: 14px;
  line-height: 21px;
}

.advantages__road p {
  font-size: 14px;
  line-height: 21px;
}

.advantages__tourists p {
  font-size: 14px;
  line-height: 21px;
}
