@import "blocks/page.less";
@import "blocks/header.less";
@import "blocks/main.less";
@import "blocks/main-header.less";
@import "blocks/main-nav.less";
@import "blocks/main-intro.less";
@import "blocks/main-header.less";
@import "blocks/advantages-header.less";
@import "blocks/advantages.less";
@import "blocks/find-hotel.less";
@import "blocks/footer.less";

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("/fonts/ptsans.woff") format("woff"),
    url("/fonts/ptsans.woff2") format("woff2"),
    url("/fonts/ptsansbold.woff") format("woff"),
    url("/fonts/ptsansbold.woff2") format("woff2");
}


.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 27px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  text-transform: uppercase;
  min-width: 320px;
}

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.visually-hidden {
  display: none;
}
